@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

header{
    z-index: 5;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: space-between;
}

header h2{
    margin-left: 10%;
}

header h2 span{
    color: #ffc107;
    font-size: 30px;
}

header nav{
    margin-right: 10%;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 70%;
}

#home{
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    background-image: url("../images/banner2.png");
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;

}

#home h1{
    display:inline-flex;
    /*margin: 0;*/
    vertical-align: center;
    justify-content: center;
    align-items: center;
    /*margin-left: -30%;*/
    horiz-align: center;
    text-align: center;
}

#home h1 .word{
    position: absolute;
    display: flex;
    opacity: 0;
}

#home h1 .word .letter{
    transform-origin: center center 25px;
}

#home h1 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6 ,0 ,0.7 ,0.2);
}

#home h1 .word .letter.in{
    transition: 0.8s ease;
}

#home h1 .word .letter.behind{
    transform: rotateX(-90deg);
}

.t2 , .t4{
    color: #ffc107;
}
