@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

#home{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../images/banner2.png");
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
}


